In [57]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

## I. Clean the files and combine them into one final DataFrame.

* This dataframe should have the following columns:
* Hero (Just the name of the Hero)
* Publisher
* Gender
* Eye color
* Race
* Hair color
* Height (numeric)
* Skin color
* Alignment
* Weight (numeric)
* Plus, one-hot-encoded columns for every power that appears in the dataset. E.g.:
(Agility,
 Flight,
 Superspeed)
etc.
* Hint: There is a space in "100 kg" or "52.5 cm"

In [58]:
df = pd.read_csv('superhero_powers - superhero_powers.csv')
df.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [59]:
df2 = pd.read_csv('superhero_info - superhero_info.csv')
df2.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

##

In [60]:
# concat long_lat with original dataframe
df = pd.concat((df, df2), axis = 1)
df.head(2)

,hero_names,Powers,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"

In [61]:
df.head()

,hero_names,Powers,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...",Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abin Sur,Lantern Power Ring,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...",Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [62]:
df.isna().sum()

hero_names          0
Powers              0
Hero|Publisher    204
Gender            204
Race              204
Alignment         204
Hair color        204
Eye color         204
Skin color        204
Measurements      204
dtype: int64

In [63]:
df.dropna(inplace=True)

In [64]:
df.isna().sum()

hero_names        0
Powers            0
Hero|Publisher    0
Gender            0
Race              0
Alignment         0
Hair color        0
Eye color         0
Skin color        0
Measurements      0
dtype: int64

In [65]:
## adding expand=True
df['Measurements'].str.split(' ',expand=True)

              0       1     2          3       4     5
0    {'Height':  '203.0  cm',  'Weight':  '441.0  kg'}
1    {'Height':  '191.0  cm',  'Weight':   '65.0  kg'}
2    {'Height':  '185.0  cm',  'Weight':   '90.0  kg'}
3    {'Height':  '203.0  cm',  'Weight':  '441.0  kg'}
4    {'Height':  '193.0  cm',  'Weight':  '122.0  kg'}
..          ...     ...   ...        ...     ...   ...
458  {'Height':  '183.0  cm',  'Weight':   '83.0  kg'}
459  {'Height':  '165.0  cm',  'Weight':   '52.0  kg'}
460  {'Height':   '66.0  cm',  'Weight':   '17.0  kg'}
461  {'Height':  '170.0  cm',  'Weight':   '57.0  kg'}
462  {'Height':  '185.0  cm',  'Weight':   '81.0  kg'}

[463 rows x 6 columns]

In [66]:
## save the 6 new columns into the dataframe
df[['length','Height_cm','Cinemeters', 'Amount', 'Weight_kg', 'Kilos']] = df['Measurements'].str.split(' ',expand=True)
df.head(2)

,hero_names,Powers,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,length,Height_cm,Cinemeters,Amount,Weight_kg,Kilos
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",{'Height':,'203.0,"cm',",'Weight':,'441.0,kg'}
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",{'Height':,'191.0,"cm',",'Weight':,'65.0,kg'}

In [67]:
df = df.drop(columns=['Measurements', 'length','Cinemeters',
                      'Amount','Kilos'])

In [68]:
df.head()

,hero_names,Powers,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height_cm,Weight_kg
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,'203.0,'441.0
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,'191.0,'65.0
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...",Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,'185.0,'90.0
3,Abin Sur,Lantern Power Ring,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,'203.0,'441.0
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...",Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,'193.0,'122.0

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 462
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hero_names      463 non-null    object
 1   Powers          463 non-null    object
 2   Hero|Publisher  463 non-null    object
 3   Gender          463 non-null    object
 4   Race            463 non-null    object
 5   Alignment       463 non-null    object
 6   Hair color      463 non-null    object
 7   Eye color       463 non-null    object
 8   Skin color      463 non-null    object
 9   Height_cm       463 non-null    object
 10  Weight_kg       463 non-null    object
dtypes: object(11)
memory usage: 43.4+ KB

In [72]:
df['Height_cm'].value_counts()

'183.0    53
'188.0    44
'180.0    37
'185.0    34
'178.0    33
'175.0    32
'168.0    27
'165.0    26
'170.0    19
'193.0    18
'191.0    18
'198.0    18
'173.0    16
'196.0    10
'201.0    10
'163.0     8
'203.0     5
'157.0     5
'213.0     5
'211.0     4
'244.0     4
'218.0     3
'155.0     3
'229.0     3
'137.0     2
'366.0     2
'206.0     2
'305.0     2
'122.0     2
'226.0     2
'279.0     1
'234.0     1
'15.2      1
'160.0     1
'64.0      1
'259.0     1
'287.0     1
'71.0      1
'701.0     1
'62.5      1
'876.0     1
'142.0     1
'975.0     1
'267.0     1
'257.0     1
'66.0      1
Name: Height_cm, dtype: int64

In [77]:
df_new = df['Height_cm']
result  = df_new.replace('', ',')
print(result[0])

'203.0